# ~/.zshrc
export EDITOR='nvim'
export VISUAL='nvim'

export GOPATH=$HOME/go
export PATH=$PATH:/opt/nvim/
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

# zsh options
setopt PROMPT_SUBST

# completions
autoload -Uz compinit
compinit -C

autoload -Uz vcs_info
precmd() { vcs_info }
zstyle ':vcs_info:git:*' formats '%b '
PROMPT='%F{blue}%1~%f %F{red}${vcs_info_msg_0_}%f%F{green}→%f '

# keybindings
bindkey -e
bindkey '^[[1;5C' forward-word                    # ctrl + ->
bindkey '^[[1;5D' backward-word                   # ctrl + <-

# aliases and funcs
alias ls='ls --color=auto'
alias vim='nvim'
alias gs='git status'
alias f='cd $(find ~/personal/ ~/work -mindepth 1 -maxdepth 1 | fzf)'
alias sdi='shutdown -h now'

mkcd() {
   mkdir -p "$1" && cd "$1"
}

# autostart
if [ -z $TMUX ]; then
   tmux_sessions a code
fi

{{- if stat (joinPath .chezmoi.homeDir ".nvm") }}

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" --no-use
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
{{- end }}

{{- if stat (joinPath .chezmoi.homeDir ".pyenv") }}

export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - zsh)"
{{- end }}
