[user]
	email = {{ pass "personal/github/email" | trim }}
	name = {{ pass "personal/github/name" | trim }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ if (pass "work/company") -}}
[includeIf "gitdir:~/work/{{ pass "work/company" | trim }}/"]
	path = ~/.gitconfig-work
{{ end -}}
