{{ if lookPath "ghostty" -}}
theme = Hybrid
background-opacity = 0.85
font-family = JetBrainsMono Nerd Font Mono
font-size = 16
{{ if lookPath "zsh" -}}
command = zsh
{{- end }}
confirm-close-surface = false
{{- end }}
