{{- $ephemeral := false -}}
{{- $personal := false -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $ephemeral = false -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $ephemeral = false -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "doftmoon" -}}
{{-   $personal = true -}}
{{- end -}}

[data]
   ephemeral = {{ $ephemeral }}
   personal = {{ $personal }}
